
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">A</th>
      <th scope="col">B</th>
      <th scope="col">C</th>
      <th scope="col">D</th>
      <th scope="col">Answer Given</th>
      <th scope="col">Correct Answer</th>
    </tr>
  </thead>
  <tbody>
    {{#each mcqs}}
        <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{quesn}}</td>
            {{#each choices}}
                <td>{{this}}</td>
            {{/each}}
            <td>{{ansGiven}}</td>
            <td>{{ans}}</td>
        </tr>
    {{/each}}

  </tbody>
</table>
<span>{{score}}</span>